/* Encabezado del perfil del usuario */
.profile-user {
    max-width: 120rem;
    margin: 0 auto;
    /* min-height: 100vh; */
}

.profile-user h2 {
    padding: 5rem 2rem;
}

/* Contenedor principal del perfil del usuario */
.profile-user-grid {
    display: grid;
    grid-template-columns: 20% 80%;
}

/* Barra de navegación del perfil del usuario */
.profile-user-nav {
    width: 100%;
    background-color: #1c2b2b;
    padding: 2rem;
}

.profile-user-nav ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.profile-user-nav ul li {
    display: flex;
    align-items: flex-end;
    list-style-type: none;
    cursor: pointer;
    width: 100%;
    padding: 1.5rem;
    color: #adaeaf;
    text-transform: capitalize;
}

.profile-user-nav ul li:hover {
    color: #f0f0f0;
}

/* Formulario de datos del perfil del usuario */
.profile-user-data form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    padding: 0rem 5rem;
}

.profile-user-data form>div {
    display: flex;
    flex-direction: column;
}

.profile-user-data form>div:last-of-type {
    grid-column: 1/3;
}

.profile-user-data form>div label {
    margin-bottom: 1rem;
    text-transform: capitalize;
}

.profile-user-data form>div input {
    outline: none;
    color: #8d8d8d;
    padding: 1.5rem;
    border: 1px solid #8d8d8d;
    border-radius: .5rem;
    font-size: 1.8rem;
}

.profile-user-data form>div input:focus {
    color: #201d1d;
    outline: auto;
}

.profile-user-data form>div button {
    padding: 1.5rem;
    border-radius: .5rem;
    text-transform: uppercase;
    cursor: pointer;
    background-color: #1c81ee;
    border: none;
    color: white;
    font-weight: 600;
}