.login-checkout {
    display: flex;
    justify-content:end;
    align-items: end;
    color: #000;
}

.login-checkout a {
    margin: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.login-checkout a:hover,
.login-checkout img:hover {
    cursor: pointer;
}

.login-checkout .logout{
    width: 3rem;
}

.login-checkout .user-authenticated {
    text-transform: capitalize;
    font-size: 1.4rem;
}

.login-checkout .products_length_cart {
    background-color: red;
    color: #fff;
    font-weight: 600;
    border-radius: 50%;
    padding: .5rem 1rem;
}

@media (min-width: 992px) {
    
    .login-checkout {
        display: flex;
        align-items: flex-end;
    }

    .login-checkout a{
        font-size: 2rem;
    }

    .login-checkout .user-authenticated{
        font-size: 2.4rem;
        width: 100%;
        display: flex;
        align-items: end;
    }

    .login-checkout .logout{
        width: 5rem;
    }

    .login-checkout .products_length_cart{
        padding: .4rem 1rem;
    }
}