.login-checkout {
    display: flex;
    align-items: flex-end;
    color: #000;
}

.login-checkout a {
    margin: 0 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.login-checkout a:first-child{
    width: 20rem;
}
.login-checkout .user-authenticated{
    text-transform: capitalize;
    font-size: 1.4rem;
}

.products_length_cart{
    background-color: red;
    color: #fff;
    font-weight: 600;
    border-radius: 100%;
    padding: .3rem .7rem;
}