.footer-container {
    margin-top: 10rem;
    background-color: #6b97c6;
    display: flex;
    flex-direction: column;
}

.footer {
    display: flex;
    justify-content: space-around;
    max-width: 120rem;
    padding: 10rem 0;
    margin: 0 auto;
    color: white;
}

.footer-box {
    width: 30rem;
}
.footer-box h3 {
    margin: 0 auto;
    border-bottom: .1rem solid #f0f0f0f0;
}

.footer-box li {
    margin: 1rem 0;
    list-style-type: none;
}