.form-register {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-register>h2 {
    margin-bottom: 1rem;
    font-size: 1.8rem;
}

.form-register-box input {
    width: 100%;
    padding: 1rem 1.5rem;
    outline: none;
    border: 3px solid #d4d6d8;
    border-radius: .1rem;
    font-size: 1.4rem;
}
.form-register-box input:hover{
    border: 3px solid #999;
}
.form-register-box input:focus {
    outline: auto;
}

.register-btn_submit button {
    width: 100%;
    padding: 1rem 2rem;
    background-color:var(--button-bg-color);
    border: none;
    color: white;
    font-size: 1.8rem;
    font-weight: 700;
    border-radius: .5rem;
    margin-top: 1rem;
}

.register-btn_submit button:hover{
    cursor: pointer;
    background-color:var(--button-bg-color-hover)
}


@media (min-width: 992px) {

    .form-register>h2 {
        font-size: 2.4rem;
    }


    .form-register-box input {
        font-size: 1.8rem;
        padding: 1.5rem;

    }

    .register-btn_submit button {
        font-size: 2rem;
    }
}