.header {
    background-color: #6b97c6;
}

.header-info {
    display: flex;
    justify-content: center;
    padding: 0 1rem;
    margin: 0 auto;
}

.header-info p {
    font-size: 1rem;
    color: #ffffff;
    padding:0 2rem;
    text-align: center;
    font-weight: 600;
}

@media (min-width: 992px) {
    .header-info {
        justify-content: space-around;
        margin: 0 auto;
    }

    .header-info p {
        font-size: 1.6rem;
        padding: .5rem;
        margin: 1rem 0;
    }
}