.auth-form {
    margin-top: 5rem;
    text-align: center;
}

.auth-form > h2 {
    margin-top: 5rem;
    font-size: 3rem;
}

.auth-form .login-register {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
    margin: 5rem auto 0 auto;
}