.trolley {
    position: fixed;
    background-color: #ffff;
    right: 0;
    top: 0;
    bottom: 0;
    width:100%;
    overflow-y: scroll;
    height: auto;
    z-index: 1;
}

.trolley-remove {
    display: none;
}

.trolley .title h2 {
    border: none;
}

.trolley .title p {
    font-size: 3rem;
    margin: 0;
    display: flex;
    align-items: center;
}
.trolley .title p:hover{
    cursor: pointer;
}
.trolley .title {
    display: flex;
    justify-content: space-between;
    padding: 0 1.5rem;
}

.trolley_products {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    width: 100%;
}

.trolley_product_item {
    width: 100%;
}

.trolley_products .trolley_product_item .img_cart {
    width: 5rem;
}

.trolley_products .trolley_product_item h3 {
    text-transform: capitalize;
    font-size: 1.4rem;
}

.trolley_products .trolley_product_item .product_img_price {
    display: flex;
    justify-content: space-around;
    align-items: end;
}

.trolley_product_item .product_img_price input {
    width: 5rem;
    padding: .2rem 1rem;
}

.trolley_products p {
    font-size: 1.8rem;
}

.trolley_products p:hover {
    cursor: pointer;
}

.trolley_total {
    padding: 0 2rem;
}

.trolley_total div {
    display: flex;
    justify-content: space-between;
}


.trolley_total div>p {
    font-weight: 700;
}

.trolley_total button {
    width: 100%;
    color: white;
    padding: 1rem 2rem;
    border: none;
    border-radius: .2rem;
}
.trolley_total button:first-of-type:hover {
    background-color: var(--button-bg-color-hover);
    cursor: pointer;
}

.trolley_total button:last-child{
    background-color: #cc3333;
    margin-top: 1rem;
}
.trolley_total button:last-child:hover{
    background-color: #e01a1a;
    cursor: pointer;
}
/* Carrito vacio */

.trolley_out {
    text-align: center;
}

@media (min-width: 992px){
    .trolley {
        width: 50rem;
    }
}