.nav-items {
    background-color: #6b97c6;
}

.item-nav-show {
    display: none;
}

.nav-items .hamburger-menu:hover {
    cursor: pointer;
}

.nav-items ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .5rem 0;
    margin: 0;
}

.nav-items ul li {
    list-style: none;
    padding: 1rem 4rem;
    color: #fff;
    font-weight: 600;
}

.nav-items ul li:hover {
    cursor: pointer;
}

.nav-items ul li a {
    color: #fff;
}

@media (min-width: 992px) {
    .nav-items ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .nav-items ul li {
        border-right: 1px solid #fff;
        font-size: 2rem;
    }
    .hamburger-menu {
        display: none;
    }
}