.list-order {
    display: grid;
    grid-template-columns: 80% auto;
    gap: 5rem;
}

.list-order-product {
    border: 1px solid #e1e3e4;
}

.head-products-list {
    display: flex;
    justify-content: space-around;
    padding: 1rem 5rem;
}

.body-products-list {
    border-top: 1px solid #e1e3e4;
    width: 100%;
    text-align: center;
    padding: 2rem 0;
}

.body-products-list .product-list-item {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
}

.body-products-list .product-list-item img {
    max-width: 5rem;
}

.body-products-list .product-list-item div:first-child p {
    text-transform: capitalize;
    font-size: 1.8rem;
    font-weight: 600;
}

.body-products-list input {
    height: 3rem;
    width: 10rem;
    padding: 0 1.5rem;
}

.list-order-checkout {
    border: 1px solid #e1e3e4;
    max-height: 20rem;
    padding: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.list-order-checkout button {
    width: 100%;
    padding: 1.5rem;
    border-radius: .5rem;
    border: none;
    background-color: #14213d;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

.list-order-checkout button:hover{
    background-color: #355496;

}

.cart-is-out{
    text-align: center;
}