
.nav-form .form {
    width: 100%;
    text-align: center;
}

.nav-form .form .box input {
    width: 50%;
    padding: 1rem 1.5rem;
    border: none;
    border-bottom: .1rem solid #6b97c6;
    font-size: 1.3rem;
    outline: none;
}

