.filter-products-list div h3 {
    border-bottom: 1px solid grey;
}

.filter-product-checkbox {
    display: flex;
    flex-direction: column;
    align-items: start;
    overflow-y: scroll;
    height: 15rem;
}

.filter-product-checkbox input {
    margin: 1rem 0;
}

.product-checkbox-type {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.product-checkbox-type label{
    margin: 0 1rem;
    text-transform: capitalize;
}