.container{
    width: min(95%, 160rem);
}
.grid-products {
    display: grid;
    gap: 5rem;
}


@media (min-width: 992px){
    .grid-products {
        display: grid;
        grid-template-columns: 20% auto;
    }
}