
.nav-form {
    display:flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 2rem 0;
}

.nav-form h2 {
    margin: 1rem 0;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.8rem;
    font-weight: normal;
    cursor: pointer;
}

.nav-form h2 span {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2.4rem;
    font-weight: 800;
    text-transform: uppercase;
}

@media (min-width: 992px){
    
    .nav-form {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: space-between;
        width: 90%;
        padding: 3rem;
    }

    .nav-form h2 {
        font-size: 2.6rem;
    }

    .nav-form h2 span {
        font-size: 4rem;
    }
}
