.discounts{
    width: 100%;
    text-align: center;
    padding: 6rem 2rem ;
    background-color: #6b97c6;
}

.discounts-title h3{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
    color: #fff;
    font-size: 1.6rem;
    padding: 1rem ;
}

.discounts-title h3 span{
    font-size: 5rem;
}