.main-img{
    background-image: url("../../../../public/backgrounds-main/background-main.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 50vh;
}
