.grid-brands{
    padding: 10rem 0;
    max-width: 120rem;
}
.grid-brands h2{
    font-size: 3rem;
    background-color: #6b97c6;
    color: #fff;
    padding: 1rem 0;
    width: 100%;
    margin: 5rem 0;
    text-align: center;
}