.product-item {
    text-align: center;
    text-transform: uppercase;
}

.product-item:not(:first-child) {
    margin-top: 5rem;
}

.product-item img {
    width: 10rem;
}

.product-item-info {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-bottom: 2px solid #DADBDC;
}

.product-item-info div:last-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-item-info p:first-of-type {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 1rem 0;
}

.product-item-description p {
    font-size: 1.1rem;
    font-weight: 600;
}

.product-item-info p {
    margin: 0 1rem;
}

.product-add-cart .productAddCart {
    padding: 1rem 2rem;
    color: white;
    background-color: var(--button-bg-color);
    border-radius: .5rem;
    font-size: 1.6rem;
    font-weight: 600;
    margin: 0;
    text-transform: none;
}

.product-add-cart .productAddCart:hover {
    cursor: pointer;
    background-color: var(--button-bg-color-hover);
}

/* Boton de producto no dispoble si no existen unidades */
.product-add-cart .productAddCart.not-avaliable {
    background-color: #979494;
    text-decoration: line-through;
    cursor:default;
}
.product-item-info .status-avaliable {
    background-color: green;
    margin: 0 1rem;
    padding: .2rem;
    width: 1rem;
    height: 1rem;
    display: inline-block;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;

}
.product-item-info .status-no-avaliable {
    background-color: #ff0000;
    margin: 0 1rem;
    padding: .2rem;
    width: 1rem;
    height: 1rem;
    display: inline-block;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;

}

@media (min-width: 992px) {

    .product-item-info {
        display: block;
    }

    .product-item-info p:first-of-type {
        font-size: 1.3rem;
        font-weight: 400;
    }

    .product-item-description p {
        font-size: 1.3rem;
        font-weight: 400;
    }

}