.product-item {
    text-align: center;
    text-transform: uppercase;
}

.product-item img {
    width: 10rem;
}

.product-item-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-bottom: 2px solid #DADBDC;
}

.product-item-info p:first-of-type {
    font-size: 1.3rem;
    margin: 1rem 0;
}

.product-item-description p {
    font-size: 1.3rem;
}

.product-item-info p {
    margin: 0 1rem;
}

.product-add-cart .productAddCart {
    padding: 1rem 2rem;
    color: white;
    background-color: rgb(64, 108, 231);
    border-radius: .5rem;
    font-size: 1.6rem;
    font-weight: 600;
    margin: 0;
    text-transform: none;
}

.product-add-cart .productAddCart:hover {
    cursor: pointer;
    background-color: rgb(49, 97, 228);
}
