.order-users {
    width: 100%;
    padding: 0 2rem;
}

.order-users ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid black;
    padding: 0 2rem;
}

.order-users ul li {
    padding: 2rem;
    list-style-type: none;
    font-weight: 600;
}

.order-users ul li span{
    font-weight: normal;
}

.order-users ul li:last-child:hover {
    cursor: pointer;
}

@media (min-width: 992px){
    .order-users {
        text-align: center;
    }
    .order-users ul {
        flex-direction: row;
        justify-content: space-between;
    }
}