.product-all h3 {
    text-align: center;
}

.grid-products-all {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    align-items: end;
}

@media (min-width: 768px) {
    .grid-products-all {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 992px) {
    .grid-products-all {
        grid-template-columns: repeat(4, 1fr);
        gap: 5rem;
        align-items: self-end;
    }
}